@use '../vars';

.artists{
    background: vars.$primary-black;
    color: vars.$primary-text;

    &__header{
        font-size: 1.4rem;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 10rem;
        margin-bottom: 5rem;
        text-transform: uppercase;
        // background-color: vars.$secondary-black;
        background-image: url(../../../src/assets/img/background/old-wrinkled-hands-on-piano.jpg);
        background-size: cover;

        &__title{
            margin-bottom: 10rem;
            text-decoration: underline;
            text-decoration-color: vars.$primary-color;
            text-decoration-thickness: 1px;
            text-underline-offset: 10px;
        }
    }
    &__list{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 10px;
    flex-wrap: wrap;
    }
}