$primary-black: #1B1B1B;
$secondary-black: #2A2A2A;
$tertiary-white: white;
$primary-color: #800080;
$primary-color-rgba: rgba(128, 0, 128, 1);
$primary-text: white;
$primary-link: yellow;
$secondary-link: #800080;
$error-color:red;
